<div id="<%= dom_id animal %>">
  <p>
    <strong>Name:</strong>
    <%= animal.name %>
  </p>

  <p>
    <strong>Granjero: </strong>
    <%= animal.farmer.name %>
    <strong>Edad </strong>
    <%= animal.farmer.age %>
  </p>

</div>